.service{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 3vh;
    background-color: white;
    border: 1px solid #a5d0e9;
    box-shadow: darkgray;
    padding: 7px;
    border-radius: 12px;
}

.service img{
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}
.service button{
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
  
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
}
.service h1{
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(21, 177, 230);
}
.service h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: dimgrey;
}

.table{
    background-color: darkgoldenrod;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 60px 0  0 200px;
}
.table input{
    margin: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}
.table button{
    width: 80px;
    
}
.table h1{
    color: floralwhite;
    font-family: fantasy;
}


.booking{
    background-image: url('https://cdn.wallpapersafari.com/69/37/nFHfkA.jpg');
}