.header-link{
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.header-link :hover{
    color: orangered;
    
}

.header-info{
    text-decoration: none;
    color: black;
}
.header-img{
    width: 40px;
    border-radius: 25px;
}

body{background-color:rgb(238, 231, 223);}