.dashboardMain{
    background-image: url(https://www.remaxdoors.com/hubfs/2015_images/Blogging/new_car_showroom.jpg);
    padding-bottom: 550px;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}
.dashboardDefault-header{
    color: honeydew;
}